/* -- KEYFRAME -- */
@keyframes default-skill {
  50% {
    transform: scale(1.1);
    color: var(--quaternary-color);
    text-shadow: 0px 0px 5px var(--primary-color);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  100% {
    transform: rotateZ(360deg) scale(1.3);
    color: var(--quaternary-color);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* -- CONFIGURATIONS -- */
:root {
  --primary-color: #00aaff;
  --secondary-color: #1a1a1a;
  --tertiary-color: #121212;
  --quaternary-color: #ffffff;
  --box-shadow-color: rgba(0, 170, 255, 0.5);
  --lighter-section: #1e1e1e;
  --darker-section: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  font-family: Arial, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 15px;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 15px 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

section,
footer {
  min-height: 400px;
}

#home,
#about,
#contact {
  background-color: var(--darker-section);
}

#projects,
#skills {
  background-color: var(--lighter-section);
}

#introduction,
#about,
#skills,
#contact {
  display: flex;
  align-items: center;
  width: 100%;
}

/* -- HEADER -- */
header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  padding: 10px 0;
  background-color: rgba(26, 26, 26, 0.8);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

/* -- HOME SECTION -- */
.banner-image {
  width: 100%;
  animation: fadeIn 2s ease-in;
}

.text {
  width: 50%;
  padding: 0 50px;
  text-align: justify;
  animation: fadeIn 2s ease-in;
}

.half-window {
  width: 50%;
  animation: fadeIn 2s ease-in;
}

/* -- PROJECT SECTION -- */
.project-card {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 10px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

/* -- ABOUT SECTION --  */
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* -- SKILLS SECTION -- */
/* -- SKILLS RIGHT SIDE -- */
.skill-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin: 15px 10px 15px 0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.skill-btn:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  transition: all 0.5s ease;
}

.skill-btn:active {
  transition: all 0.2s ease;
  transform: scale(0.8);
}

.skill-btn.selected {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  width: 120px;
  height: 100px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 0 0 5px var(--box-shadow-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.skill-item:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  transform: scale(1.05);
  transition: all 0.5s ease;
  cursor: pointer;
}
.skill-item:active {
  transition: all 0.2s ease;
  transform: scale(0.8);
}

.skill-item.selected {
  background-color: var(--primary-color);
}

.icon {
  width: 50px;
}

.git {
  /* filter: invert(1); */
  background-color: white;
  border-radius: 50%;
}

/* -- SKILLS LEFT SIDE -- */
.default-skill {
  text-align: center;
}

.default-skill h3 {
  animation: default-skill 2s ease-in-out infinite;
}

.skills-content-list li {
  animation: fadeIn 1s ease-in;
}

/* -- FOOTER -- */
#contact {
  flex-direction: column;
  justify-content: center;
}

#contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  margin-top: 50px;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
}

#contact i {
  font-size: 2.2rem;
}

#contact i:hover {
  animation: flip 0.5s ease-in-out forwards;
}

.tooltip {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  font-weight: bold;
  top: -50%;
  left: -15%;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease-in-out;
  pointer-events: none;
}

#contact a {
  position: relative;
  display: inline-block;
}

#contact a:hover .tooltip {
  opacity: 1;
  transform: translate(25%, -25px) scale(1);
  transition: opacity 1s ease-in-out, transform 0.3s ease-in-out;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 5%;
  transform: rotate(20deg);
  border-width: 8px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
}